/* ---(320px - 750px)--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-red: #FF7A7A;
  --color-primary-green: #38CC8C;
  --color-primary-green-shadow: rgba(45, 163, 112, 0.85);
  --color-primary-blue: #5D55A5;
  
  --color-text-white: #FFFFFF;
  --color-text-light-gray: #EEEEEE;
  --color-text-gray: #B9B6D3;
  --color-text-black: #000000;
  
  --color-border-gray: #CCCCCC;
  --color-input-bg: #F8E9E9;
  
  --font-family-primary: "Poppins", sans-serif;
  
  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.5rem;
  
  --shadow-sm: 0 5px rgba(45, 163, 112, 0.85);
  --shadow-md: 0 7.5px rgba(0, 0, 0, 0.15);
}

.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }

.white-text {
  color: var(--color-text-white);
}

body {
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary-red);

  font-family: var(--font-family-primary);
  font-style: normal;
  font-size: 16px;

  min-height: 100vh;
  width: 100%;
  padding: clamp(5px, 4vw, 40px) clamp(10px, 5vw, 100px);
}

.main-page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  min-width: 310px;
  max-width: 550px; 
  width: 100%;
}

.hero .hero-description {
  width: 95%;
  margin: 0 auto;
  color: var(--color-text-light-gray);
  text-align: center;
}

.hero .hero-title {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 25px;
  text-align: center;
}

.signup h2.signup-offer {
  background-color: var(--color-primary-blue);
  border-radius: var(--border-radius-sm);
  margin-top: 40px;
  padding: 20px 50px;
  text-align: center;
  box-shadow: var(--shadow-md);
}

.signup-form {
  background-color: var(--color-text-white);
  margin-top: 25px;
  padding: 25px;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.signup-form *:not(h2) {
  height: clamp(40px, 6vh, 50px);
}

.signup-button {
  background-color: var(--color-primary-green);
  border-radius: var(--border-radius-sm);
  border: none;
  text-transform: uppercase;
  color: var(--color-input-bg);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.signup-button:hover {
  opacity: 0.75;
}

.signup-terms {
  font-size: 0.75rem;
  line-height: 1.75;
  color: var(--color-text-gray);
  text-align: center;
}

p .terms-red-color {
  color: var(--color-primary-red);
}

.signup-input {
  padding: 0 20px;
  border: 2px solid var(--color-border-gray);
  border-radius: var(--border-radius-sm);
  color: var(--color-text-black) !important;
  caret-color: var(--color-text-black);
}

.empty-signup-input {
  border: 2px solid var(--color-primary-red);
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  color: var(--color-primary-red) !important;
}

.empty-signup-input::placeholder {
  color: transparent;
}

.empty-signup-notification {
  position: relative;
  margin-top: -10px;  /* flex-gap = 15px */
  font-size: 0.75rem;
  color: var(--color-primary-red);
  text-align: right;
}
/* ---(over 751px)--- */

@media (min-width: 751px) {

.main-page {
  flex-direction: row;
  column-gap: 50px;
}

section {
  min-width: 320px;
  max-width: 500px; 
}

.hero .hero-description {
  width: 100%;
  text-align: left;
}

.hero .hero-title {
  font-size: 2.75rem;
  text-align: left;
}

.signup-form {
  padding: 35px;
}

.signup-terms {
  font-size: 0.65rem;
}

.signup h2.signup-offer {
  font-size: 0.85rem;
}

}
